- settings:
    basedir: data
    dir: xxxxxxxx-xxxx
    datafile: jobstats
    servicedatafile: servicejobstats
    jobsummary: jobs-summary
    newdatafile: newjobstats
    servicenodes: [ login-1, login-2, preproc, robinhood, login-3 ]
    servicesummary: servicenodes-summary
    slurmfile: mslurm5-squeue
    rootnodefilter: 0.b
